* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  direction: ltr;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

/* navbar */
.navbar {
  transition: all 0.5s;
}

.navbar-scrolled {
  background-color: #332d2d;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* end navbar */

/* jumbo */
.btn-outline-success:hover {
  background: #14a44d;
  transition: 0.5s;
}

/* end jumbo */

/* sejarah */
.sejarah {
  width: 35rem;
  height: 30rem;
}

/* end sejarah */

/* HP */
@media only screen and (max-width: 950px) {
  .navbar {
    text-align: center;
  }

  .sejarah {
    height: 20rem;
    width: 23rem;
  }

  .pelanggan {
    height: 30rem;
    width: 23rem;
    border-radius: 20px;
  }

  .card {
    height: 30rem;
    padding: 15px;
    margin-bottom: 30px;
  }

  .pengguna {
    margin-bottom: 1100px;
  }

  .nb {
    margin-right: -22rem;
  }
}

@media only screen and (min-width: 950px) {
  .icon {
    margin-left: 5rem;
  }
}
